<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.lq.testopencv"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BlurActivity" android:label="模糊"/>
        <activity android:name=".GrayActivity" android:label="灰度"/>
        <activity android:name=".FindContoursActivity" android:label="找边界"/>
        <activity android:name=".ThresholdActivity" android:label="阀值"/>
        <activity android:name=".AdaptiveThresholdActivity" android:label="自适应阀值"/>
        <activity android:name=".StitcherActivity" android:label="拼接"/>

    </application>

</manifest>